

<div class="card">
  <h2>Poner Producto a la Venta</h2>

  <form (ngSubmit)="publicar()" #formProducto="ngForm">
    <input name="nombre" [(ngModel)]="nombre" placeholder="Nombre" required>

    <textarea name="descripcion" [(ngModel)]="descripcion" placeholder="Descripción" required></textarea>

    <input name="precio" type="number" [(ngModel)]="precio" placeholder="Precio" required min="0">

    <input name="cantidadDisponible" type="number" [(ngModel)]="cantidadDisponible" placeholder="Cantidad Disponible" required min="1">

    <div class="actions">
      <button type="submit" [disabled]="formProducto.invalid">Publicar Producto</button>
      <button type="button" class="sec" (click)="router.navigate(['/home'])">Volver al Inicio</button>
    </div>
  </form>

  <!-- Mensaje flotante tipo Toast -->
  <div *ngIf="toastMsg" class="toast" [ngClass]="toastType">
    {{ toastMsg }}
  </div>
</div>


