<div class="auth-card">
  <h2>Crear cuenta</h2>

  <form (ngSubmit)="save()" #f="ngForm">
    <input
      placeholder="Nombre"
      name="nombre"
      [(ngModel)]="nombre"
      required
    />
    <input
      placeholder="Email"
      type="email"
      name="email"
      [(ngModel)]="email"
      required
    />
    <input
      placeholder="Contraseña"
      type="password"
      name="password"
      [(ngModel)]="password"
      required
      minlength="7"
    />

    <button type="submit" [disabled]="f.invalid">Registrar</button>
  </form>

  <p class="msg">{{ msg }}</p>

  <a routerLink="/login" class="link-alt">
    ¿Ya tienes cuenta? Inicia sesión aquí
  </a>
</div>
