<section class="pedidos">

  <!-- Mensaje de carga o error -->
  <p *ngIf="msg">{{ msg }}</p>

  <!-- Tabla principal -->
  <table *ngIf="pedidos.length; else sinPedidos" class="tabla-pedidos">

    <thead>
    <tr>
      <th>{{'ORDERS.Producto' | translate}}</th>
      <th>{{'ORDERS.Cantidad' | translate}}</th>
      <th>{{'ORDERS.Estado' | translate}}</th>
      <th>{{'ORDERS.Acciones' | translate}}</th>
    </tr>
    </thead>

    <tbody>
    <tr *ngFor="let o of pedidos">
      <td>{{ o.productoNombre || ('#' + o.productoId) }}</td>
      <td>{{ o.cantidad }}</td>
      <td>{{ 'ORDERS.' + o.estado | translate }} </td>
      <td>
        <button class="btn-entregado" (click)="marcarEntregado(o.id!)">
          {{'ORDERS.Entregado' | translate}}
        </button>
      </td>
    </tr>
    </tbody>

  </table>

  <!-- Vista alternativa (sin pedidos) -->
  <ng-template #sinPedidos>
    <p class="mensaje-vacio">{{ 'ORDERS.Vacio' | translate}}</p>
  </ng-template>

</section>
